* {
  box-sizing: border-box;
}
body {
  background-image: url("./resources/bg-image.svg");
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Be Vietnam Pro" Arial, Helvetica, sans-serif;
  color: #f8fafc;
}
h1 {
  font-size: 8vw;
  font-weight: bold;
}
p {
  font-size: 4vw;
}
.description {
  width: 80%;
  max-width: 750px;
}
form {
  background-color: rgba(240, 248, 255, 0.261);
  width: 80%;
  max-width: 750px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
input,
select {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin: 0px;
  border: none;
  padding: 5px;
}
input::placeholder {
  color: #cdd5e0;
}
textarea {
  width: 100%;
  border-radius: 10px;
}
button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #4036a9;
}
img {
  margin-left: 30px;
  margin-top: 10px;
}
.img-container {
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  input,
  select,
  button {
    height: 40px;
  }
  body {
    padding: 5px;
  }
  form {
    width: 90%;
  }
  button {
    height: 40px;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 3em;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
